/* color scheme: 
https://visme.co/blog/website-color-schemes/
15)
#EDC7B7 - PINK
#EEE2DC - GREY
#BAB2B5 - LIGHT BROWN
#123C69 - DARK BLUE
#AC3B61 - DARK PINK
*/

body {
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-family: 'Aleo', serif;
    font-weight: bold;
}

.af-placeholder {
    height: 800px;
}

#ada-name {
    font-size: 180% !important;
    color: #123C69 !important;
}

#ada-name > span {
    font-weight: bold;
}

h1 {
    font-size: 200% !important;
    font-weight: bold;
    color: #BAB2B5 !important;
    padding-bottom: 15px;
}

h5 {
    font-size: 180% !important;
    font-weight: bold;
    color: #123C69 !important;
}

#navbar,
#footer {
    background-color: #EEE2DC !important;
}

svg {
    fill: #AC3B61;
    margin-right: 5px;
}

.nav-link {
    font-size: 120% !important;
    color: #123C69 !important;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #AC3B61 !important;
}

.active {
    color: #AC3B61 !important;
    font-weight: bold !important;
    border-bottom: 1px solid #123C69;
}

footer {
    padding-left: 15% !important;
    padding-right: 15% !important;
}

#main-content {
    background-image: url('../images/background.jpg');
    background-size: cover; 
    padding-left: 12% !important;
    padding-right: 12% !important;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 900px;
}

#main-content-about-us {
    background-image: url('../images/teambackground.jpg');
    background-size: cover; 
    padding-left: 12% !important;
    padding-right: 12% !important;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 900px;
}

.card {
    border: 2px solid #AC3B61;
    background-color: #EEE2DC;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.card:hover {
    border-color: #123C69;
    background-color: #BAB2B5;
}

.btn-primary {
    background-color: #AC3B61 !important;
    border-color: #AC3B61 !important;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #123C69 !important;
    border-color: #123C69 !important;
}

.card-title {
    color: #AC3B61 !important;
}

.card-text {
    color: #123C69 !important;
}
